{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Affichage des medicaments</h1>

            {# 
            affichage des messages flash
            "notice' est la cle créée dans le controleur avec this->addflash
             #}
            {% for message in app.flashes('notice') %}
                <p class="alert alert-success">{{ message }}</p>
            {% endfor %}

            <p class="d-flex justify-content-end">
                <a href="{{ url ('admin.videogames.form') }}" class="btn btn-primary">Ajouter</a>
            </p>

            <table class="table table-striped">
                <tr>
                <th>Nom commercial</th>
                <th>Composition</th>
                <th>Effets</th>
                <th>Contre Indication</th>
                <th>Prix échantillon</th>
                <th>Famille</th>
                </tr>
                {% for medicaments in results %}
                    <tr>
                        
                        <td>{{ medicament.nom_commercial }}</td>
                        <td>{{ medicament.composition }}</td>
                        <td>{{ medicament.effets }}</td>
                        <td>{{ medicament.contre.indications }}</td>
                        <td>{{ medicament.prix_echantillon }}€</td>
                        <td>{{ medicament.prix_famille }}€</td>
                        <td>
                            <a href="{{ url('admin.videogames.form', { id: game.id} ) }}" class="btn btn-warning">Modifier</a>
                            <a href="#" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}