{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Affichage des medicaments</h1>

            {# 
            affichage des messages flash
            "notice' est la cle créée dans le controleur avec this->addflash
             #}
            {% for message in app.flashes('notice') %}
                <p class="alert alert-success">{{ message }}</p>
            {% endfor %}


            <table class="table table-striped">
                <tr>
                <th>Nom commercial</th>
                <th>Composition</th>
                <th>Effets</th>
                <th>Contre Indication</th>
                <th>Prix échantillon</th>
                <th>Famille</th>
                </tr>
                {% for medicament in listMedicaments %}
                    <tr>
                        
                        <td>{{ medicament.NomCommercial }}</td>
                        <td>{{ medicament.composition }}</td>
                        <td>{{ medicament.effets }}</td>
                        <td>{{ medicament.ContreIndications }}</td>
                        <td>{{ medicament.PrixEchantillon }}€</td>
                        <td>{{ medicament.famille }}</td>
                       
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}