{% extends "base.html.twig" %}
{% block title %}GSB CR - Nouveau compte rendu{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="row">
				{{  form_start(form, { attr: { novalidate: 'novalidate' } }) }}
					<p>
						{{ form_label(form.date_visite, 'Date de la visite :') }}
						{{ form_widget(form.date_visite) }}
					</p>
					<p>
						{{ form_label(form.praticien, 'Praticien visité :') }}
						{{ form_widget(form.praticien) }}
					</p>
					<p>
						{{ form_label(form.motif, 'Motif de la visite :') }}
						{{ form_widget(form.motif) }}
					</p>
					<p>
						{{ form_label(form.bilan, 'Bilan de la visite :') }}
						{{ form_widget(form.bilan) }}
					</p>
					
					{# <div class="card">
						<div class="card-header bg-seconday">
							Indiquez les médicaments présentés ou offerts
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									{% for presentation in form.presentation %}
										<div class="card">
											<div class="card-header bg-primary"></div>
											<div class="card-body">
												{{ form_errors(presentation) }}
												{{ form_widget(presentation) }}
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div> #}
					<div id="medicaments_list">
						<div id="medicament_field">
							{{ form_label(form.presentation.0.medicament) }}
							{{ form_widget(form.presentation.0.medicament) }}
							{{ form_label(form.presentation.0.quantite_offerte) }}
							{{ form_widget(form.presentation.0.quantite_offerte) }}
						</div>
					</div>
					

					<div class="col-md-12 text-center mt-3">
						<input type="submit" class="btn btn-info">
					</div>
				{{ form_end(form) }}
			</div>
			<a href="#" id="add_field">Ajouter</a>
			<a href="#" id="remove_field">Retirer</a>

	{% include "inc/add_field.html.twig" %}
		
{% endblock %}



