{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Practicien</h1>

            {# 
            affichage des messages flash
            "notice' est la cle créée dans le controleur avec this->addflash
             #}
            {% for message in app.flashes('notice') %}
                <p class="alert alert-success">{{ message }}</p>
            {% endfor %}

            <p class="d-flex justify-content-end">
                <a href="{{ url ('admin.videogames.form') }}" class="btn btn-primary">Ajouter</a>
            </p>

            <table class="table table-striped">
                <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>code_postal</th>
                <th>Ville</th>
                <th>type</th>
                </tr>
                {% for practicien in results %}
                    <tr>
                        <td class="w-25">
                            <img src="{{ asset('img/' ~ game.poster) }}" alt="" class="img-fluid">
                        </td>
                        <td>{{ practicien.nom }}</td>
                        <td>{{ practicien.prenom }}€</td>
                        <td>{{ practicien.adresse }}</td>
                        <td>{{ practicien.code_postal }}</td>
                        <td>{{ practicien.ville }}</td>
                        <td>{{ practicien.type }}</td>
                        <td>
                            <a href="{{ url('admin.videogames.form', { id: game.id} ) }}" class="btn btn-warning">Modifier</a>
                            <a href="#" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}