<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('images/logo_gsb.png') }}" alt="" width="50" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('visiteur.homepage.index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page"href="{{ path('visiteur.nouveau_compte_rendu') }}">Nouveau Compte Rendu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('praticien.index') }}">Praticiens</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Visiteurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('medicament.index') }}">Médicaments</a>
                </li>
            </ul>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<form class="form-inline">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Déconnexion</button>
				</form>
			{% endif %}
        </div>
    </div>
</nav>