{% extends "base.html.twig" %}
{% block title %}GSB CR - Nouveau compte rendu{% endblock %}
{% block body %}
	<div class="row mt-5">
		<div class="col-md-2"></div>
		<div class="col-sm-12 col-md-8">

			<h1>Création d'un nouveau compte-rendu</h1>
			{{  form_start(form, { attr: { novalidate: 'novalidate' } }) }}
			
			<div class="row mt-4">
				<div class="col-sm-12 col-md-6">
					<h5>Praticien visité :</h5>
					{{ form_widget(form.praticien) }}
				</div>
				<div class="col-sm-12 col-md-6">
					<h5>Date de la visite :</h5>
					{{ form_widget(form.date_visite) }}
				</div>

				<div class="col-sm-12 col-md-8 mt-4">
					<h5>Motif de la visite :</h5>
					{{ form_widget(form.motif) }}
				</div>

				<div class="col-sm-12 col-md-8 mt-4">
					<h5>Bilan de la visite :</h5>
					{{ form_widget(form.bilan) }}
				</div>
				
				<div class="presentation_container">
					<div class="presentation">
						<div class="medicament_field">
							<h5>Médicament :</h5>
							{{ form_widget(form.presentation.0.medicament) }}
						</div>
						<div class="quantite_field">
							<h5>Quantité offerte :</h5>
							{{ form_widget(form.presentation.0.quantite_offerte) }}
						</div>
					</div>
				</div>
				
				<div class="col-sm-12 col-md-12 mt-3">
					<button href="#" class="add_field" id="add_field">Ajouter</button>
				</div>

					{# LK >> ajouter les champs supplémentaires si le formulaire est invalide, mais il faudrait changer la mise en forme CSS #}
					{{ form_rest(form) }}

				<div class="col-md-12 text-center mt-5">
					<input type="submit" class="btn btn-lg btn-secondary">
				</div>
			</div>
			{{ form_end(form) }}

			{# LK >> supprimer le bouton retirer pour l'insérer en JS #}
			

		
{% endblock %}



{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/add_field.js') }}" defer></script>
{% endblock %}


